/* src/assets/components/utils/TopTenList.css */
.top-ten-section {
  padding: 1rem 2rem;
  color: white;
  background-color: black;
}

.top-ten-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.top-ten-list {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  padding-bottom: 1rem;
  scrollbar-width: none; /* Firefox */
}

.top-ten-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.top-ten-card {
  position: relative;
  flex: 0 0 auto;
  width: 200px;
  transition: transform 0.3s ease-in-out;
}

.top-ten-card:hover {
  transform: scale(1.1);
  z-index: 2;
}

.top-ten-card img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  height: 300px;
}

.top-number {
  position: absolute;
  top: 0;
  left: -10px;
  font-size: 4rem;
  font-weight: 900;
  color: red;
  text-shadow: 2px 2px 5px black;
  z-index: 1;
}
